/*Media query para celulares + general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: large;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 1rem;
}

a { /*color y formato de links generales*/
    text-decoration: none;
    color:rgb(216, 9, 147);
}

#carrusel {
    text-align: center;
}

/*Estilos de tarjetas de cada evolución-Página principal*/

.card {
    align-items: center;
}

/* .row {
    margin-bottom: 25px;
} */

.btn-card {
    background-color: rgb(75, 205, 223);
    color: black;
    font-weight: 500;
}

/*estilos de display de cartas individuales a continuación*/

/* Dsiplay de cartas de página Eevee */

.eevee-img {
    align-items: center;
    justify-content: center;
}



/* Display de cartas Leafeon-Glaceon-Sylveon-Espeon-Umbreon */
.grid-cartas {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1%;
    margin: 20px;
    justify-items: stretch; */
    display: flex;
    flex-flow: column nowrap;
    margin: 5%;
}

.cartas{
    border: 2px solid black;
    background-color: cadetblue;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.cartas img {
    height: 256px;
    width: 185px;
    margin-bottom: 5px ;
}


.cartas ul{
    padding: 0%;
    text-align: start;
}

.cartas ul li {
    list-style: none;
}


.img-cartas {
    width: 350px;
    height: 500px;
}

/*Estilos de página de contacto*/
#form-contacto {
    /* display: flex;
    flex-flow: column nowrap; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    background-color: aliceblue;
}

.mensaje {
    text-align: center;
    padding: 2rem;
}

footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: smaller;
}

/*Media query para tablets*/
@media (min-width: 600px){
    .grid-cartas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 1%;
        margin: 20px;
        justify-items: stretch;
    }

    .cartas {
        justify-items: center;
    }

    .cartas h3 {
        text-align: center;
    }

    .cartas ul {
        margin: auto;
    }

}

/*Media query para computadoras*/
@media (min-width: 1024px){

    /*estilos de display de cartas individuales a continuación*/

    .grid-cartas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
        margin: 20px;
        justify-items: stretch;
        
    }

    .cartas{
        border: 2px solid black;
        background-color: cadetblue;
        padding: 25px;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
    }

    .cartas img {
        height: 256px;
        width: 185px;
        margin-bottom: 5px ;
    }


    .cartas ul{
        margin-top: 5px;
    }


    .img-cartas {
        width: 350px;
        height: 500px;
    }



}