//estilos de lo elementos del header
//carrusel

.index_main{
    .introduccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            margin-top: 1rem;
        }
        .main-carrusel{
            width: 50%;
        }
        .main-carousel{
            width: 50%;
            .carousel-control-prev {
                justify-content: flex-end;
            }
            .carousel-control-next {
                justify-content: flex-start;
            }
        }
    }

    .contenedor-cartas-main{
        .card {
            width: 90%;
            align-items: center;
            .card-footer{
            .btn-card {
                    background-color: rgb(75, 205, 223);
                    color: black;
                    font-weight: 500;
                } 
            }
            
        } 
    }
    
}
