.grid-cartas {
    @include container-flex(column);
    flex-wrap: nowrap;
    margin: 5%;
    .cartas{
        border: 2px solid black;
        background-color: $card_color;
        @include container-flex(column);
        flex-wrap: wrap;
        @include centrar();
        margin-bottom: 2%;
        padding: 15px;
        .img-cartas {
            height: 256px;
            width: 185px;
            margin-bottom: 5px ;
        }
        ul{
            padding: 0%;
            text-align: start;
            li {
                list-style: none;
            }
        }
    }
}

.grid-bootstrap{
    .bootstrap-card{
        background-color: $card_color;
    }
}

.fav-cards{
    .bootstrap-card{
        background-color: $card_color;
    }
}
