body
{
    background-color: $body_color;
    header{
        nav{
            background-color: $nav_color;
            h1{
                font-family: Arial, Helvetica, sans-serif;
            }   
        }

    }
    footer {
        margin-top: 3rem;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: smaller;
    }
}

