body
{
    background-color: $body_color;
    header{
        h1{
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    h2{
        margin-top: 1rem;
        text-align: center;
    }
    footer {
        margin-top: 3rem;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: smaller;
    }
}

