//display de cartas de eevee en mobile
@media (max-width: 767px){
    .index_main{
        .introduccion{
            #carouselExampleFade{
                width: 100%;
            }
        }
     }
    .grid-bootstrap{
        @include container-flex(column);
        margin: 5%;
        .bootstrap-card {
            @include centrar();
            align-content: center;
            text-align: center;
            margin-top: 1rem;
            .bootstrap-img {
            width: 55%;
            }
        }
        
    }
}
/*Media query para tablets*/
@media (min-width: 768px){

    .grid-bootstrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 1%;
        margin: 20px;
    }

    .grid-cartas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 1%;
        margin: 20px;
        justify-items: stretch;
        .cartas {
            justify-items: center;
            h3{
                text-align: center;
            }
            ul{
                margin: auto;
            }
        }

    }
}

/*Media query para computadoras*/
@media (min-width: 1024px){

    /*estilos de display de cartas individuales a continuación*/

    .grid-bootstrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 1%;
        margin: 20px;
        .lista{
            font-size: medium;
            list-style:circle;
        }
    }

    .grid-cartas {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        margin: 20px;
        justify-items: stretch;
        .cartas{
            border: 2px solid black;
            background-color: $card_color;
            padding: 25px;
            @include container-flex(column);
            flex-wrap: wrap;
            @include centrar();
            img {
                height: 256px;
                width: 185px;
                margin-bottom: 5px ;
            }
            ul{
                margin-top: 5px;
            }
        }
        
    }

    // .img-cartas {
    //     width: 350px;
    //     height: 500px;
    // }
}