@charset "UTF-8";
body {
  background-color: lightgoldenrodyellow;
}
body header nav {
  background-color: #a9e2cb;
}
body header nav h1 {
  font-family: Arial, Helvetica, sans-serif;
}
body .btn-form {
  background-color: #a9e2cb;
}
body footer {
  margin-top: 3rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: smaller;
}

.index_main .introduccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_main .introduccion h2 {
  margin-top: 1rem;
}
.index_main .introduccion .main-carousel {
  width: 50%;
}
.index_main .introduccion .main-carousel .carousel-control-prev {
  justify-content: flex-end;
}
.index_main .introduccion .main-carousel .carousel-control-next {
  justify-content: flex-start;
}
.index_main .contenedor-cartas-main .card {
  width: 90%;
  align-items: center;
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-eevee, .index_main .contenedor-cartas-main .card .card-footer .btn-card-umbreon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-espeon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-sylveon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-glaceon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-leafeon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-flareon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-jolteon, .index_main .contenedor-cartas-main .card .card-footer .btn-card-vaporeon {
  background-color: rgb(177, 121, 37);
  color: black;
  font-weight: 500;
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-vaporeon {
  background-color: rgb(65, 184, 214);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-jolteon {
  background-color: rgb(244, 255, 83);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-flareon {
  background-color: rgb(238, 99, 56);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-leafeon {
  background-color: rgb(65, 202, 99);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-glaceon {
  background-color: rgb(113, 218, 183);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-sylveon {
  background-color: rgb(214, 65, 139);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-espeon {
  background-color: rgb(204, 112, 216);
}
.index_main .contenedor-cartas-main .card .card-footer .btn-card-umbreon {
  color: rgb(235, 235, 235);
  background-color: rgb(3, 28, 32);
}

.grid-cartas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 5%;
}
.grid-cartas .cartas {
  border: 2px solid black;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  padding: 15px;
}
.grid-cartas .cartas .img-cartas {
  height: 256px;
  width: 185px;
  margin-bottom: 5px;
}
.grid-cartas .cartas ul {
  padding: 0%;
  text-align: start;
}
.grid-cartas .cartas ul li {
  list-style: none;
}

.grid-bootstrap .bootstrap-card {
  background-color: cadetblue;
}

.fav-cards .bootstrap-card {
  background-color: cadetblue;
}

@media (max-width: 767px) {
  .index_main .introduccion #carouselExampleFade {
    width: 100%;
  }
  .grid-bootstrap {
    display: flex;
    flex-direction: column;
    margin: 5%;
  }
  .grid-bootstrap .bootstrap-card {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 1rem;
  }
  .grid-bootstrap .bootstrap-card .bootstrap-img {
    width: 55%;
  }
}
/*Media query para tablets*/
@media (min-width: 768px) {
  .grid-bootstrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1%;
    margin: 20px;
  }
  .grid-cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1%;
    margin: 20px;
    justify-items: stretch;
  }
  .grid-cartas .cartas {
    justify-items: center;
  }
  .grid-cartas .cartas h3 {
    text-align: center;
  }
  .grid-cartas .cartas ul {
    margin: auto;
  }
}
/*Media query para computadoras*/
@media (min-width: 1024px) {
  /*estilos de display de cartas individuales a continuación*/
  .grid-bootstrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1%;
    margin: 20px;
  }
  .grid-bootstrap .lista {
    font-size: medium;
    list-style: circle;
  }
  .grid-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
    justify-items: stretch;
  }
  .grid-cartas .cartas {
    border: 2px solid black;
    background-color: cadetblue;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-cartas .cartas img {
    height: 256px;
    width: 185px;
    margin-bottom: 5px;
  }
  .grid-cartas .cartas ul {
    margin-top: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
